{{define "footer"}}
</div>
</div>
<script src="/static/jquery.js" type="text/javascript"></script>
<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/alertify/src/alertify.js" type="text/javascript"></script>
<script src="/static/main.js" type="text/javascript"></script>
</body>
</html>
{{end}}