{{define "header"}}<!DOCTYPE html>
<html>
<head>
    <title>VIDC链路易迅侧虚拟ip端口申请</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/static/alertify/themes/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="/static/alertify/themes/alertify.default.css" rel="stylesheet" type="text/css" />
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">HAProxy负载均衡任务管理</a>
            <ul class="nav">
                <li class="{{.Nav.AddTask}}"><a href="/">新增任务</a></li>
                <li class="{{.Nav.ListenList}}"><a href="/listenlist">任务列表</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
{{end}}