{{define "index"}}{{template "header"}}
    <div class="span6 offset3">
            <div class="ui-box">
                <div class="ui-box-header">
                    <h4>新增TCP负载均衡任务</h4>
                </div>
                <div class="ui-box-container">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="assign-method">分配方式：</label>
                            <div class="controls" id="assign-method">
                                <label class="radio">
                                  <input type="radio" name="amOptionsRadios" id="amOptionsRadios1" value=1 checked>
                                  自动分配端口
                                </label>
                                <label class="radio">
                                  <input type="radio" name="amOptionsRadios" id="amOptionsRadios0" value=0>
                                  指定端口
                                </label>
                            </div>
                        </div>
                        {{if .Mode}}
                        <div class="control-group" id="business-block">
                            <label class="control-label" for="business-type">业务类型：</label>
                            <div class="controls">
                                <select id="business-type">
                                    {{range .BusinessTypeList}}
                                        <option value={{.Index}}>{{.BusinessName}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        {{end}}
                        <div class="control-group" id="to-specify-port">
                            <label class="control-label" for="specPort">端口：</label>
                            <div class="controls">
                                <input type="number" name="port" id="specPort" class="input-medium" placeholder="1000-99999的整数" min="1000" max="99999"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="controls-server-list">ip:port列表(一行一个)：</label>
                            <div class="controls" id="controls-server-list">
                                <textarea class="input-xlarge" id="server-list" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="controls-backup-server-list">备份ip:port列表：</label>
                            <div class="controls" id="controls-backup-server-list">
                                <textarea class="input-xlarge" id="backup-server-list" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="comment">说明：</label>
                            <div class="controls">
                                <textarea class="input-xlarge" id="comment" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="logornot">开启日志：</label>
                                <div class="controls">
                                    <label class="radio">
                                        <input type="radio" name="lonOptionRadios" id="yeslog" value="1" checked />是
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="lonOptionRadios" id="nolog" value="0" />否
                                    </label>
                                </div>
                        </div>
                        <div class="control-group">
                            <div class="controls" id="button-group">
                                <button class="btn btn-info" id="preview"><i class="icon-eye-open"></i> 预览</button>
                                <button class="btn btn-primary" id="submit"><i class="icon-ok-sign"></i> 提交</button>
                                <button class="btn" id="step-back"><i class="icon-step-backward"></i> 回退 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="preview-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>ip</th>
                        <th>port</th>
                    </tr>
                    </thead>
                </table>
            </div>
           </div>
{{template "footer"}}
{{end}}