<!DOCTYPE html>
<html>
<head>
    <title>VIDC链路易迅侧虚拟ip端口申请</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="">HAProxy负载均衡任务管理</a>
            <ul class="nav">
                <li class="active"><a href="/">新增任务</a></li>
                <li><a href="/listenlist">任务列表</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span6 offset3 content">
            <div class="ui-box">
                <div class="ui-box-header">
                    <h4>填写ip:port列表(一行一个)</h4>
                </div>
                <div class="ui-box-container">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <div class="controls">
                                <textarea class="input-xxlarge" id="server-list" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls" id="button-group">
                                <button class="btn btn-info" id="preview"><i class="icon-eye-open"></i> 预览</button>
                                <button class="btn btn-primary" id="submit"><i class="icon-ok-sign"></i> 提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="preview-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>ip</th>
                        <th>port</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery.js" type="text/javascript"></script>
<script src="/static/jquery.validate.js" type="text/javascript"></script>
<script src="/static/main.js" type="text/javascript"></script>
</body>
</html>