{{define "listenlist"}}
{{template "header"}}
    <div class="span10 offset1">
    <table class="table table-bordered listenlist-table">
        <thead>
            <tr>
                <th></th>
                <th>后端机器列表</th>
                <th>Vip</th>
                <th>Port</th>
                <th>说明</th>
                <th>开启日志</th>
                <th>申请时间</th>
            </tr>
        </thead>
        <tbody>
            {{range .ListenTaskList}}
                <tr>
                    <td class="sequence-number">{{.Seq}}</td>
                    <td class="servers">{{.Servers}}</td>
                    <td class="vip">{{.Vip}}</td>
                    <td class="vport">{{.Vport}}</td>
                    <td class="comment">{{.Comment}}</td>
                    <td class="logornot">{{if .LogOrNot}}是{{else}}否{{end}}</td>
                    <td class="date-time">{{.DateTime}}</td>
                </tr>
            {{end}}
        </tbody>
    </table>
    </div>
{{template "footer"}}
{{end}}
