.ui-box {
    margin: 80px 0px 0px 0px;
    background: white;
    border: 1px solid #ccc;
    border-top-color: #DADADA;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #BCBCBC;
    color: #464646;
}

.ui-box-header {
    position: relative;
    padding: 0px 10px;
    border-bottom: 1px solid #dadada;
    border-radius: 3px 3px 0 0;
    font: 14px/1.6 "Helvetica", arial, sans-serif;
    margin-bottom: 10px;
}

.ui-box-container {
    padding: 8px 10px;
    line-height: 1.6;
}
/*
.form-horizontal #controls-server-list {
    margin-left: 0px;
    text-align: center;
}
*/
#button-group {
    float: right;
}

#preview-table {
    display: none;
    margin-top: 10px;
}

#submit, #edit-submit {
    display: none;
}

#submit, #preview {
    margin-right: 20px;
}

#result {
    margin-top: 10px;
    text-align: center;
}

#listenlist-div {
    margin-top: 75px;
}

.listenlist-table th, .listenlist-table td {
    text-align: center;
}

#edit-div, #edit-preview-table, .id {
    display: none;
}

#button-apply-conf {
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
}

#apply-to-master {
    margin-right: 10px;
}

.statspage-iframe {
	margin-top: 50px;
}

.statspage-iframe iframe{
	height: 1000px;
	width: 100%;
	border: none;
}

#to-specify-port {
    display: none;
}